*{
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    background-color: #123;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 150px;
    height: 50px;
    border: 3px solid #fff;
    color: #fff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
    0 0 5px #0ef,
    inset 0 0 10px #0ef,
    0 0 20px #0ef,
    inset 0 0 40px #0ef,
    /* inset 0 0 40px #0ef, */
    0 0 80px #0ef,
    0 0 160px #0ef;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

button::before{
    content: 'Mahmoud';
    font-size: 25px;
    position: absolute;
    text-shadow: 
    0 0 20px #0ef,
    0 0 20px #0ef,
    0 0 20px #0ef,
    0 0 20px #0ef,
    0 0 20px #0ef
    ;    
    transform: translateY(0px);
    transition: .3s;
}

button::after{
    position: absolute;
    content: 'Ali';
    font-size: 25px;
    position: absolute;
    text-shadow: 
    0 0 20px #f0f,
    0 0 20px #f0f,
    0 0 20px #f0f,
    0 0 20px #f0f,
    0 0 20px #f0f
    ;    
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s;
}

button:hover{
    box-shadow: 
    0 0 5px #f0f,
    inset 0 0 10px #f0f,
    0 0 20px #f0f,
    inset 0 0 40px #f0f,
    inset 0 0 40px #f0f,
    0 0 80px #f0f,
    0 0 160px #f0f;
}
button:hover::after{
    opacity: 1;
    transform: translateY(0px);
    

}
button:hover::before{
    opacity: 0;
    translate: 0 50px;
}
