/* body {
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;
    background-color: ;

}

 */

.heart {
    position: fixed;
    top: 0;
    animation: heart_fall 2s linear 0s 1 forwards;
}

@keyframes heart_fall {
    0% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(110vh);
        
    }
}

