*{
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #123;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.online_offline h2{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.online_offline ul{
    margin: 15px 0 30px 50px;
}

.online_offline button{
    margin-top: 50px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.online_offline button:hover{
    background-color: #000;
    color: #fff;
}

.hide{
    display: none;
    
}

